.top-9 {
    top: -9%;
}

.margin-top-4 {
    margin-top: 4%;
}

.font-size-16 {
    font-size: 16px;
}

.tab {
    width: 30% !important;
}

.label-medico {
    font-size: 16px;
}

.text-italic {
    font-style: italic;
}