.top-9 {
    top: -14%;
}

.margin-top-4 {
    margin-top: 4%;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-20 {
    font-size: 20px;
}

.tab {
    width: 30% !important;
}

.text-italic {
    font-style: italic;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }