body {
    overflow-y: scroll;
}

.cabecalho {
    position: fixed;
    width: 100%;
    top: 0;
}

.top-9 {
    top: -16%;
}

.margin-top-0-5 {
    margin-top: 0.5%;
}

.margin-top-15 {
    margin-top: 15% !important;
}

.margin-top-28 {
    margin-top: 28%;
}

.font-size-16 {
    font-size: 16px;
}

.tab {
    width: 30% !important;
}

.align-element {
    width: 70%;
    text-align: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.align-btn-new {
    border-radius: 28px;
    height: 55px;
    width: 55px;
    position: fixed;
    right: 20px;
    color: #fff;
    background-color: #26a69a;
    font-weight: 500;
    bottom: 20px;
}

.font-size-button {
    font-size: 25px;
}

.style-arquivo {
    margin: 0;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 7%;
}

.size-icon-download {
    width: 35px;
    height: 35px;
    margin-top: 7px;
}

.style-text-name-file {
    font-weight: 900;
    font-size: 16px;
    color: #9e9e9e;
    font-family: monospace, serif;  
}