.align-btn-new {
    border-radius: 28px;
    height: 55px;
    width: 55px;
    position: fixed;
    right: 20px;
    color: #fff;
    background-color: #26a69a;
    font-weight: 500;
    bottom: 20px;
}

.font-size-button {
    font-size: 25px;
}

.margin-top-25 {
    margin-top: 25%;
}

.size-icon-download {
    width: 35px;
    height: 35px;
    margin-top: 7px;
}

.style-text-name-file {
    font-weight: 900;
    font-size: 16px;
    color: #9e9e9e;
    font-family: monospace, serif;  
}

.border-anexo {
    margin-top: 5%;
    /*border-top: 1px solid #DEDDDD;
    border-bottom: 1px solid #DEDDDD;*/
}