<div class="col s12">
  <ul class="collapsible">
      <li>
        <div class="collapsible-header col s12 row no-margin-right-left margin-top-3">
            <div class="col s2">
              <img src="assets/icon-hospital1.png" alt="ícone hospital" width="26px" height="26px">
            </div>
            <div class="col s6 truncate">
                <span class="style-text-name-file">Hospital Getúlio Vargas</span>
            </div>
            <div class="col s4">
              <span class="style-text-name-file">26/08/2020</span>
            </div>
        </div>
        <div class="collapsible-body col s12 row">
            <div class="col s2">
              <img class="icon-dados-medico" src="assets/icon-medico.png" alt="ícone médico" width="26px" height="26px">
            </div>
            <div class="col s10 padding-top-2">
              <span class="style-text-name-file">Rita de Cássia, 1414141414</span>
            </div>
            <div class="col s2">

            </div>
            <div class="col s10">
              <span class="style-text-name-file">Avenida Antônio Carlos, 826, Lagoinha</span>
            </div>
        </div>
      </li>
  </ul>    
</div>
