<div style="overflow-y: scroll;">
  <div class="col s12 cabecalho">
      <nav>
          <div class="nav-wrapper container col s12">
            <div class="col s3" style="display: inline;">
              <img src="assets/icone-saude.png" alt="Mão segurando coração" height="50" width="50" class="margin-top-0-5">
            </div>
            <span class="text-bolder-700 font-size-16 float-right" (click)="sair()">Sair</span>
          </div>
      </nav>
      <ul id="tabs-swipe-demo" class="tabs">
          <li class="tab col s4"><a class="active" href="#swipe-1">Solicitações</a></li>
          <li class="tab col s4"><a href="#swipe-2">Novo Anexo</a></li>
      </ul>
  </div>
  <div class="container col s12 margin-top-28">
      <div id="swipe-1" class="col s12">
          <app-solicitacoes
            [idUsuario]="idUsuario"
            [indicaPaciente]="indicaPaciente"
            [idUsuarioMedico]="idUsuarioMedico">
          </app-solicitacoes>
      </div>
      <div id="swipe-2" class="col s12">
        <div class="col s12 margin-top-35" *ngIf="idUsuario <= 0">
          <div class="input-field offset-s1 col s10">
            <input id="chaveMedica" [(ngModel)]="chaveAcessoMedico" name="chaveAcessoMedico" type="text" class="validate">
            <label for="chaveMedica">CHAVE DE ACESSO DO PACIENTE</label>
          </div>
          <div class="col s12">
            <a class="waves-effect waves-light btn width-100" (click)="validarChaveDigitada()">Validar</a>
          </div>  
        </div>  
        <div class="col s12 text-center margin-top-4" *ngIf="idUsuario > 0">
          <label class="font-size-18">Após o upload do documento automaticamente ele estará armazenado no
            repositório de seu paciente e disponível para download
          </label>
          <div class="col s12 margin-top-4">
            <a class="waves-effect waves-light btn width-100" (click)="file.click()">Selecionar Documento</a>
          </div>
          <input [hidden]="true" class="align-btn-new" type="file" (change)="carregarPdf($event)" accept="application/pdf, image/*" #file>
        </div>
        <div id="modalArquivo" class="modal">
          <div class="modal-content" *ngIf="!exibirFormMedico">
              <h4 class="text-color">Upload Arquivo</h4>
              <p>Olá, você selecionou o arquivo <span class="text-italic">{{nomeArquivo}}</span>, caso queira ajustar o nome do arquivo
                  insira um novo nome no campo abaixo, caso contrário basta clicar em Upload ou Cancelar.
              </p>
              <input id="arquivoNome" [(ngModel)]="novoNomeArquivo" name="novoNomeArquivo" type="text" class="validate">
              <label for="arquivoNome">Dê ao seu arquivo um novo nome</label>
          </div>
          <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat color-salmao">Cancelar</a>
              <a href="#!" (click)="validarArquivoAnexado()" class="modal-close waves-effect waves-green btn-flat text-color">Upload</a>
          </div>
        </div>
      </div>
  </div>
</div>