/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
  background-color: white;
  overflow-y: scroll !important;
}

.text-bolder-700 {
    font-weight: 700;
}

.text-color {
  color: #26a69a
}

.text-center {
  text-align: center;
}

.margin-top-15 {
  margin-top: 15%;
}

.margin-top-4 {
  margin-top: 4%;
}

.width-100 {
  width: 100%;
}

.font-size-14 {
  font-size: 14px;
}

.color-salmao {
  color: #E57373 !important;
}

.color-cinza {
  color: #9e9e9e;
}

.margin-0 {
  margin: 0;
}

.align-img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-login {
  font-family: monospace;
  color: #26a69a;
}

.text-red {
  color: red;
}

.center {
  margin: 0;
  position: absolute;
  top: 42%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-horizontal-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text-italic {
  font-style: italic;
}

.float-right {
  float: right;
}

.show-scroll-overflow-y {
  overflow-y: scroll;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cabecalho {
  position: fixed;
  width: 100%;
  top: 0;
}

.margin-top-0-5 {
  margin-top: 0.5%;
}

.margin-top-5 {
  margin-top: 5%;
}

.font-size-16 {
  font-size: 16px;
}

.margin-top-28 {
  margin-top: 28%;
}

.border-anexo {
  margin-top: 5%;
  /*border-top: 1px solid #DEDDDD;
  border-bottom: 1px solid #DEDDDD;*/
}

.size-icon-download {
  width: 32px;
  height: 32px;
  margin-top: 7px;
}

.style-text-name-file {
  font-weight: 900;
  font-size: 16px;
  color: #9e9e9e;
  font-family: monospace, serif;  
}

.margin-right-3 {
  margin-right: 3%;
}

.padding-4 {
  padding: 4% !important;
}

.padding-top-3 {
  padding-top: 3% !important;
}

.display-block {
  display: block;
}