/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
  background-color: white;
}

.text-bolder-700 {
    font-weight: 700;
}

.text-color {
  color: #26a69a
}

.text-center {
  text-align: center;
}

.margin-top-15 {
  margin-top: 15%;
}

.margin-top-4 {
  margin-top: 4%;
}

.width-100 {
  width: 100%;
}

.font-size-14 {
  font-size: 14px;
}

.color-salmao {
  color: #E57373 !important;
}

.color-cinza {
  color: #9e9e9e;
}

.margin-0 {
  margin: 0;
}

.align-img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-login {
  font-family: monospace;
  color: #26a69a;
}